page-login {
	
	
.chrome {
	width: 100px;
	margin-top: 7px;
margin-left: auto;
margin-right: auto;
}
#parentList{
	display:flex;
	justify-content:center;
}
.list {
	width: 50%;
	//position: absolute;
	//right: 100px;
	margin: auto;

}
.media {display: flex;
	bottom:20px;
	justify-content: center;


}

.media i {

padding-left: 10px;
color: #488aff;
justify-content:space-between;
}
.padding{
	padding-top: 10px;
}

}
